/* subtitle font style */
.subtitle {
    font-family: Courier;
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
    padding-bottom: 15px;
}

/* each paragraph space between */
.pg {
    margin-bottom: 250px;
    margin-left: 60px;
    margin-right: 60px;
}

/* paragraph font */
p {
    font-size: 18px;
    font-family: Courier new;
}

img#iphone {
    float: left;
    padding-right: 60px;
    padding-top: 15px;
}

p#p1 {
    padding-right: 30px;
    padding-top: 60px;
}

img#gopro {
    float: right;
    padding-left: 60px;
}

p#p2 {
    padding-top: 20px;
    margin-right: 10px;
}