/* Banner Style Set */
/* Banner background */

body {
        background-color: #f2f1ec;
}

h1 {
        font-size: 2em;
        font-family: Amagro;
        float: left;
        padding-left: 20px;

}

.banner{
        display: flex; /* Aligns items horizontally */
        align-items: center; /* Centers items vertically */
        justify-content: space-between; /* Separates the h1 and nav */
        padding: 0 20px; /* Adds padding inside the banner */
        margin: 0;
        float: none;
}

/* Mouse On & Mouse Over change font style */
.mousestyle {
        color:#f2f1ec;
        text-decoration: underline;
}

.topcol {
        overflow: hidden;
        font-family: Kanit;
        float: right;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 40px;
        
}

/* Design the button: Home, Equipment, Photography, Video, Contact Me */
.topcol a {
        float: left;
        color: black;
        display: block;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 1em;
}

/* Begin Button Equipment Set */
/* Design Equipment button whole DIV */
.drpdwn1 {
        float: left;
        overflow: hidden;
}

/* Design Equipment button */
.drpdwn1 .drpbtn1 {
        font-size: 1em;
        border: none;
        outline: none;
        color: black;
        font-family: inherit;
        background-color: inherit;
        margin: 0;
}

/* In Equipment, Design the words Photography and Video */
.drpdwncontent1 {
        position: absolute;
        display: none;
        background-color: white;
        z-index: 1;
}

.drpdwn1:hover .drpdwncontent1 {
        display: block;
}

/* Design the 'drop down content'. */
.drpdwncontent1 a {
        float: none;
        display: block;
        color: black;
        padding: 12px 20px;
        text-decoration: none;
        text-align: left;
}

/* When mouse on those button, their background color will turn grey */
.topcol a:hover,
.drpdwn1:hover .drpbtn1,
.drpdwn2:hover .drpbtn2 {
        background-color: rgb(238, 234, 234);
        color: black;
        display: block;
}


/* When mouse on the words (Photography and Video), the background color will turn light gray. */
.drpdwncontent1 a:hover {
        background-color: lightgray;;
        color: black;
}

/* Begin Button Photography Set */
/* Design Photography button whole DIV */
.drpdwn2 {
        float: left;
        overflow: hidden;
}

/* Design Equipment button */
.drpdwn2 .drpbtn2 {
        font-size: 1em;
        border: none;
        outline: none;
        color: black;
        font-family: inherit;
        background-color: inherit;
        margin: 0;
}

/* In Equipment, Design the words Photography and Video */
.drpdwncontent2 {
        position: absolute;
        display: none;
        background-color: white;
        z-index: 1;
}

.drpdwn2:hover .drpdwncontent2 {
        display: block;
}

/* Design the 'drop down content'. */
.drpdwncontent2 a {
        float: none;
        display: block;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        text-align: left;
}

/* When mouse on those button, their background color will turn grey */
/*
.topcol a:hover,
.drpdwn2:hover .drpbtn2 {
        background-color:  rgb(238, 234, 234);
        color: black;
}
*/

/* When mouse on the words (Photography and Video), the background color will turn light gray. */
.drpdwncontent2 a:hover {
        background-color: lightgray;
        color: black;
        display: block;
}


/* Icon Set */
/* dont show icon unless we need to scroll */
.topcol .icon {
        display: none;
}

@media screen and (max-width: 750px) {

        .topcol a:not(:first-child),
        .drpdwn1 .drpbtn1 {
                display: none;
        }
        .drpdwn2 .drpbtn2 {
                display: none;
        }

        .topcol a.icon {
                float: right;
                display: block;
        }
}

@media screen and (max-width: 750px) {
        .topcol.responsive {
                position: relative;
        }

        .topcol.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
        }

        .topcol.responsive a {
                float: none;
                display: block;
                text-align: left;
        }

        .topcol.responsive .drpdwn1 {
                float: none;
        }

        .topcol.responsive .drpdwn2 {
                float: none;
        }

        .topcol.responsive .drpdwncontent1 {
                position: relative;
        }

        .topcol.responsive .drpdwncontent2 {
                position: relative;
        }

        .topcol.responsive .drpdwn1 .drpbtn1 {
                display: block;
                width: 100%;
                text-align: left;
        }

        .topcol.responsive .drpdwn2 .drpbtn2 {
                display: block;
                width: 100%;
                text-align: left;
        }
}

/* Whole banner set end */